# Ignore model data and large datasets
Data/ModelData/*
Data/IndicatorData/*
Data/PriceData/*
Data/RFpredictions/*
OptimizationResults/*
Results/*
run_all_scripts.log
__BrokerLive.log
__Trading_Functions.log
__BrokerLog.log
real_trade_data.parquet
data_gpr_export_interpolated.parquet



bipitypobity.log